.instructions {
  border-bottom:1px solid rgba(0, 0, 0, 0.1);

}

.instruction-container {
  display: grid;
  height: fit-content;
  grid-gap: 2em;
  padding: 24px 12px;
  margin-top: 3em;
  p {
    font-size: 24px;
    padding: 0px 12px;
  }
  img {
    height: 200px;
    margin-bottom: 24px;
    margin-top: 24px;
  }
}

.offer-container-h1{
  text-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-align:center;
}
.instruction-container-text {
  height: 56vh;
  margin-bottom: 10px;
  text-align: center;
  border:1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.offer-container {
  margin-top: 1em;
  height: fit-content;
}

.down-arrow-icon {
  width: 40px;
  height: 40px;
}

.position-of-down {
  text-align: center;
}
