<div class="container">
  <% if @offers.count > 0 %>
    <h1 class="centered my-3 p-2">My Services</h1>
    <div class="row">
      <% @offers.each do |offer| %>
       <%= render 'offers_card', offer: offer %>
      <% end %>
    </div>
  <% else %>
    <h2 class="centered my-3 p-2 mb-4">You have no services</h2>
  <% end %>
</div>
