<div class="container">
  <% if @owner_bookings.count > 0 %>
    <h1 class="centered my-3 p-2">Passed services</h1>
    <div class="row">
      <% @owner_bookings.each do |booking| %>
        <% if booking.date < Date.today %>
          <div class="col-sm-6">
            <div class="card my-3 pt-2 pb-1 no-effect-card" style= "background-image: url(<%= asset_path("dynamic-style.png")%>);">
              <div class="card-body">
                <h4 class="card-title"><%= booking.offer.name.capitalize %></h4>
                <p class="card-text">Booked for: <%= booking.date %></p>
                <div class="d-flex justify-content-between">
                  <p><%= number_with_delimiter(booking.offer.price, delimiter: ',') %>¥</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <h2 class="centered my-3 p-2 mb-4">You have no passed booking</h2>
  <% end %>
</div>
