<div class="container">
  <h1 class="centered mt-3">Services</h1>
  <div class="row">
    <% @offers.each do |offer| %>
      <div class="col-sm-6">
        <div class="card pt-2 pb-1 dimensions">
          <div class="card-body">
            <h4 class="card-title"><%= offer.name.capitalize %></h4>
            <p class="card-text"><%= offer.detail %></p>
            <%# <div class=""> %>
            <h5 class="card-text price"><%= offer.price %>¥</h5>
            <%= link_to 'Check details', offer_path(offer), class: "btn btn-warning movable" %>
            <%# </div> %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
