
<div class="card ml-4 mr-4 mt-4">
    <div class="card-header">
        <%= @offer.name %>
    </div>
    <div class="card-body">
        <h5 class="card-title">DETAILS</h5>
        <p class="card-text"><%= @offer.detail %></p>
        <p class="card-text">Price: <%= @offer.price %> Yen </p>
        <%= render "bookings/form" %>
    </div>
</div>



