// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "footer";
@import "navbar";
@import "tabs";
@import "cards";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Noto+Serif:wght@400;700&display=swap');

h1 {
 font-family: 'DM Serif Text', serif;
 font-size: 56px;
}
body {
  font-family: 'Noto Serif', serif;
}

.centered {
  text-align: center;
}

.box {
  width: 300px;
  height: 385px;
}
